.movie-list {
	padding: 0 20px;

    &-search {
		max-width: 500px;
		margin: auto;
	}

    &-content {
        display: flex;
		justify-content: left;
		align-content: center;
		flex-wrap: wrap;
	}

    &-item {
		padding: 20px;
		width: 25%;
    }
}
